.developers {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
}

.developersDescription {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.developersDescription p {
  font-size: 1rem;
  line-height: 1.8;
}
