.light-theme {
  --background: #f5f5f5;
  --foreground: #121212;
  --primary: #ff3d4d;
  --border: #dddbdb;
  --card: #e4e3e3;
  --card-hover: #f0f0f0;
  --button-hover: #292929;
  --scrollbar: #c4c4c4;
}

.dark-theme {
  --background: #121212;
  --foreground: #f5f5f5;
  --primary: #ff3d4d;
  --border: #5c5c5c;
  --card: #313131;
  --card-hover: #3c3c3c;
  --button-hover: #bbbbbb;
  --scrollbar: #c4c4c4;
}
