.translations {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 20px 0;
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.translationsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.translationsTitle h2 {
  font-size: 1.125rem;
}

.bibles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.bibleItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
