.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  height: var(--header-height);
  max-width: 375px;
  width: 100%;
  background-color: var(--background);
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.controls {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
}

.book,
.translation {
  display: flex;
  align-items: center;
  background-color: var(--card);
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  text-transform: capitalize;
  font-family: Figtree-Regular, sans-serif;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.book {
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}

.translation {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}

.book:hover,
.translation:hover {
  background-color: var(--card-hover);
}

.headerTitle h2 {
  font-size: 1.125rem;
  font-family: Figtree-Regular, sans-serif;
  font-weight: 600;
}

.navLinks {
  display: flex;
  gap: 1rem;
}