.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--border);
  height: var(--footer-height);
  max-width: 375px;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 0 10px;
  background-color: var(--background);
  box-sizing: border-box;
}

.footerLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-align: center;
  gap: 0.25rem;
}

.footerLink a {
  display: flex;
  flex-direction: column;
}

.footerLink p {
  font-size: 12px;
  font-weight: 600;
}
