@font-face {
  font-family: Figtree-Light;
  src: url(../public/fonts/figtree/Figtree-Light.ttf);
}

@font-face {
  font-family: Figtree-Regular;
  src: url(../public/fonts/figtree/Figtree-Regular.ttf);
}

@font-face {
  font-family: Figtree-Medium;
  src: url(../public/fonts/figtree/Figtree-Medium.ttf);
}

:root {
  --background: #f5f5f5;
  --foreground: #121212;
  --primary: #ff3d4d;
  --border: #dddbdb;
  --card: #e4e3e3;
  --card-hover: #f0f0f0;
  --button-hover: #292929;
  --scrollbar: #c4c4c4;
}

body[data-theme="dark"] {
  --background: #121212;
  --foreground: #f5f5f5;
  --primary: #ff3d4d;
  --border: #5c5c5c;
  --card: #313131;
  --card-hover: #3c3c3c;
  --button-hover: #bbbbbb;
  --scrollbar: #c4c4c4;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--foreground);
  font-family: Figtree-Regular, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--foreground);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::selection {
  background-color: var(--primary);
  color: #ffffff;
}
