@font-face {
  font-family: Figtree-Light;
  src: url(../public/fonts/Figtree-Light.ttf);
}

@font-face {
  font-family: Figtree-Regular;
  src: url(../public/fonts/Figtree-Regular.ttf);
}

@font-face {
  font-family: Figtree-Medium;
  src: url(../public/fonts/Figtree-Medium.ttf);
}

@font-face {
  font-family: Figtree-SemiBold;
  src: url(../public/fonts/Figtree-SemiBold.ttf);
}

@font-face {
  font-family: Figtree-Bold;
  src: url(../public/fonts/Figtree-Bold.ttf);
}

:root {
  --header-height: 3.375rem;
  --footer-height: 3.375rem;

  --background: #ffffff;
  --foreground: #000000;

  --border: #c4c4c4;

  --card: #f5f5f5;
  --card-hover: #e0e0e0;

  --button: #000000;
  --button-hover: #333333;
  
  --scrollbar: #c4c4c4;
}

:root[data-theme="dark"] {
  --background: #000101;
  --foreground: #ffffff;

  --border: #333333;

  --card: #222222;
  --card-hover: #333333;

    --button: #ffffff;
  --button-hover: #f0f0f0;

  --scrollbar: #333333;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--foreground);
  font-family: Figtree-Regular, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--foreground);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

*:hover {
  scrollbar-color: var(--scrollbar) transparent;
}
